body{
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #fad660;
}
/* google font */

h1{
    color: #FFFFFF;
    font-size: 50px;
}
.circle{
    width: 300px;
    height: 360px;
    border-radius: 50%;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.timerDisplay{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
}
.buttons{
    margin: 25px;
    display: flex;
    justify-content: center;
}
button{
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    margin: 5px;
    padding: 5px;
    background-color: #f66a51;
    border: none;
}
button:active, button:hover{
    background-color: #cef558;
}
@media screen and (max-width: 392px){
    .circle{
        width: auto;
    }
    h1{
        font-size: 40px;
    }
}