body{
    margin: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: #fad660;
}
/* google font */

h1{
    color: #FFFFFF;
    font-size: 50px;
}
.circle{
    width: 300px;
    height: 360px;
    border-radius: 50%;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.timerDisplay{
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 600;
}
.buttons{
    margin: 20px;
    display: flex;
    justify-content: center;
}
button{
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
    margin: 5px;
    background-color: coral;
}
button:focus{
    background-color: blue;
}
